/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #070000;
    color: #FFFFFF;
    font-size: 18px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

h2, h3 {
    margin: 0;
}


ul {
    list-style-type: none;
    padding: 0;
}

/* Styles pour les conteneurs de titres et les traits rouges */
.title-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Aligne le titre et le trait à gauche */
    margin-left: 5%; /* Marge gauche responsive */
}

.title-container h2,
.title-container h3 {
    margin: 0; /* Supprime les marges par défaut */
}

.title-container .underline {
    width: 100px; /* Ajustez la largeur selon vos besoins */
    height: 1.5px;
    background-color: #D23232; /* Couleur rouge du trait */
    margin-top: 7px; /* Espace entre le titre et le trait */
    border-radius: 5px;
}

/* Styles responsives pour les petits écrans */
@media (max-width: 768px) {
    .title-container {
        align-items: center; /* Centre le titre et le trait sur mobile */
        margin-left: 0; /* Supprime la marge gauche */
    }

    .title-container h2,
    .title-container h3 {
        text-align: center; /* Centre le texte du titre */
    }

    .title-container .underline {
        margin-left: 0;
        margin-right: 0;
    }
}


/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(7, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    z-index: 1000;
    border-bottom: 2px solid #300202;
}

.name-and-language {
    display: flex;
    align-items: center;
}

.name-and-language h1 {
    margin: 0;
    font-size: 1.5em; /* Taille réduite */
}

.navbar .red {
    color: #D23232;
}

.navbar .white {
    color: #FFFFFF;
}

.language-btn {
    background-color: #FFFFFF;
    color: #070000;
    border: none;
    border-radius: 50%;
    width: 30px; /* Taille réduite */
    height: 30px;
    font-size: 0.8em;
    cursor: pointer;
    margin-left: 10px;
}

.language-btn:hover {
    background-color: #D23232;
    color: #FFFFFF;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 3em;
}

nav ul li {
    margin: 1.2em 1.4em; /* Décalage vers la gauche */
}

nav ul li a {
    color: #FFFFFF;
    font-size: 1.3em; /* Taille augmentée */
    position: relative;
}

nav ul li a.active {
    color: #D23232;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #D23232;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
}

nav ul li a.active::after,
nav ul li a:hover::after {
    width: 100%;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger-menu .line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

.nav-menu {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: rgba(7, 0, 0, 0.9);
        width: 200px;
        z-index: 1000;
    }

    .nav-menu.open {
        display: flex;
    }

    .nav-menu ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .nav-menu ul li {
        margin: 10px 0;
    }
    .nav-menu ul li a {
        text-align: center;
        display: block;
        width: 100%;
        padding: 10px 0;
        color: #fff;
    }
}


/* Underline for section titles */
.section-title {
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 3em;
    text-align: left; /* Aligné à gauche */
    margin-left: 30px; /* Décalage pour l'alignement */
}

.section-title h3 {
    font-size: 1.2em;
    color: #FFFFFF;
    margin-top: 0.5em;
    margin-left: 2em;
}

.section-title .underline {
    width: 100px;
    height: 4px;
    background-color: #D23232;
    margin: 10px 0 0 30px; /* Aligné avec le titre */
}

.section-subtitle {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: left;
    position: relative;
    display: inline-block;
}

.section-subtitle + .underline {
    width: 100px;
    height: 4px;
    background-color: #D23232;
    margin: 10px 0 20px 0;
}

/* Intro Section */
.intro {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.intro .text-content {
    order: 1;
    max-width: 700px;
    margin-right: 30px;
}

.intro .profile-container {
    order: 2;
}

.profile-picture img {
    width: 100%;
    max-width: 525px;
    border-radius: 50%;
}

.text-content h2 {
    font-size: 4em;
    margin-bottom: 10px;
}

.text-content .underline {
    width: 100px;
    height: 4px;
    background-color: #D23232;
    margin: 10px 0 20px 0;
}

.text-content p {
    font-size: 1.2em;
    margin-left: 2em;
}

/* Fixation du trait sous le titre */
.text-content h2 {
    display: inline-block;
}

.text-content .underline {
    position: relative;
    left: 0;
}

/* Social Icons */
.social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
}

.social-icons a {
    background-color: #FFFFFF;
    color: #070000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a:hover {
    background-color: #D23232;
    color: #FFFFFF;
}

/* Scroll Indicator */
.scroll-indicator {
    position: absolute;
    bottom: -50px;
    left: 20px;
    display: flex;
    align-items: center;
}

.scroll-indicator span {
    font-size: 1.2em;
    margin-right: 10px;
}

/* Icône dans un cercle rouge */
.scroll-indicator .icon-circle {
    border: 2px solid #D23232; /* Ajoutez cette ligne pour afficher uniquement les bordures */
    background-color: transparent; /* Changez la couleur de fond en transparent */
    border-radius: 50%;
    width: 20px; /* Réduisez la largeur pour rendre le cercle plus petit */
    height: 20px; /* Réduisez la hauteur pour rendre le cercle plus petit */
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bounce 2s infinite;
}

.scroll-indicator .icon-circle .material-icons {
    font-size: 1.2em; /* Réduisez la taille de l'icône */
    color: #D23232; /* Assurez-vous que l'icône est de la même couleur que la bordure */
    
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-7px);
    }
}

@media (max-width: 768px) {
    .scroll-indicator{
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%)
    }
    .intro {
        flex-direction: column; /* Aligne les éléments verticalement */
        text-align: center; /* Centre le texte */
    }

    .intro .text-content {
        margin-right: 0; /* Supprime la marge droite */
    }

}

/* About Section */
#about {
    padding: 50px 0;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-picture img {
    width: 100%;
    max-width: 500px;
    border-radius: 117px 117px 151px 137px;
}

.about-content .text-content {
    max-width: 700px;
    margin-left: 30px;
}

.about-content h3 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-align: left; /* Aligné à gauche */
}

.about-content p {
    font-size: 1em;
    text-align: left;
    line-height: 1.3em;
}

/* Sous-section pour le sport */
.sport-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.sport-section .text-content {
    max-width: 700px;
    margin-right: 30px;
}

.sport-section h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    text-align: left;
}

.sport-section p {
    font-size: 1.2em;
    text-align: left;
    line-height: 1.4em;
}

.sport-picture img {
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
}

/* Highlights Section */
.moments {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

/* Styles pour le conteneur des moments */

.moments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.highlight-item {
    flex: 1 1 30%; /* Taille normale sur les grands écrans */
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

.highlight-item img {
    width: 100%;
    height: auto; /* Assure que l'image conserve ses proportions */
    object-fit: cover; /* S'assure que l'image s'adapte bien au conteneur sans être coupée */
    max-height: 230px; /* Ajuste cette valeur en fonction de la taille souhaitée */
}

@media (max-width: 768px) {
    .moments-container {
        flex-direction: column;
        align-items: center;
    }

    .highlight-item {
        flex: 1 1 100%; /* Les moments occupent toute la largeur disponible sur mobile */
        max-width: 100%;
        margin: 20px 0;
    }

    .highlight-item img {
        max-width: 100%;
        height: auto; /* S'assure que l'image n'est pas coupée */
        object-fit: cover; /* Garantit que l'image est entièrement visible sans déformation */ /* Permet à l'image de s'étendre à sa hauteur naturelle */
    }
}








/* Styles pour chaque item de moment clé */

.highlight-item {
    flex: 1 1 30%; /* Les items prennent environ 30% de la largeur disponible */
    max-width: 300px; /* Largeur maximale pour chaque item */
    margin: 10px 5px; /* Espace autour de chaque item */
    text-align: center; /* Centre le contenu à l'intérieur de l'item */
}

.highlight-item img {
    width: 100%; /* L'image prend toute la largeur du conteneur */
    height: auto;
    max-height: 230px; /* Limite la hauteur de l'image */
    object-fit: contain; /* Ajuste l'image pour qu'elle rentre dans le conteneur */
}

.highlight-item p {
    margin-top: 10px;
    font-size: 0.9em; /* Ajuste la taille du texte si nécessaire */
    line-height: 1.4em;
}


/* Styles pour les icônes de flèche */

.material-symbols-outlined.arrow-icon {
    font-family: 'Material Symbols Outlined';
    font-size: 130px; /* Taille souhaitée de l'icône */
    color: #D23232;
    transform: rotate(90deg);
    margin: 0 2px;
}

.arrow-icon.inverted {
    transform: scaleY(-1) rotate(90deg);
}



.download-button {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #D23232;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}

.download-button:hover {
    background-color: #A51E1E;
}


@media (max-width: 768px) {

    .arrow-icon {
        display: none;
    }

    .arrow-icon.inverted {
       display: none;
    }
}




/* Skills Section */

#skills {
    padding: 50px 30px;
}




.skills-main-container {
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

}

.skills-center-image img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    
}


.skill-card {
    position: absolute;
    width: 430px;
    height: 287px;
    background-color: #482A2A;
    color: #FFFFFF;
    border-radius: 60px;
    padding: 15px;
    display: flex;
    box-sizing: border-box;
   
    text-align: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    gap: 15px;
    margin: 20px auto;
   
}


.skill-card .skill-icon {
    font-size: 3em;
    color:#230f0f;
    position: relative;
    bottom: 40%;
    
    border-radius: 100%;
}
.skill-card h3 {
    font-size: 1.5em;
    margin-bottom: 0.3em;
    
    
}

.skill-card p {
    margin: 0;
    font-size: 0.3em;
    padding: 5px;
}

.skill-card .skill-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.top-left {
    top: 8%;
    left: 0%;
}

.bottom-left {
    bottom: 8%;
    left: 0%;
}

.top-right {
    top: 8%;
    right: 0%;
}

.bottom-right {
    bottom: 8%;
    right: 0%;
}

.arrow-icon.arrow-top-left {
    position: absolute;
    top: 37%;
    left: 25%;
    transform: scaleY(-1) scaleX(-1) rotate(120deg);
    font-size: 9em;
    color: #bbb;
}

.arrow-icon.arrow-bottom-left {
    bottom: 37%;
    position: absolute;
    left: 25%;
    transform: scaleY(1) scaleX(-1) rotate(120deg);
    font-size: 9em;
    color: #bbb;
}

.arrow-icon.arrow-top-right {
    position: absolute;
    top: 37%;
    right: 25%;
    transform: scaleY(-1) scaleX(1) rotate(120deg);
    font-size: 9em;
    color: #bbb;
}

.arrow-icon.arrow-bottom-right {
    bottom: 37%;
    position: absolute;
    right: 25%;
    transform: scaleY(1) scaleX(1) rotate(120deg);
    font-size: 9em;
    color: #bbb;
}



@media (max-width: 768px) {
   
    .skills-main-container {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .skill-card {
        position: static;
        width: 80%;
        margin: 20px auto;
        flex-direction: row;
        text-align: left;
    }

    .skills-center-image {
        display: none;
    }

    .skills-center-image img {
        display: none;
    }

    .skill-card .icon-circle {
        width: 60px;
        height: 60px;
    }

    .skill-card .skill-icon {
        font-size: 2em;
    }

    .skill-card p {
        font-size: 0.9em;
    }

    .arrow-top-left,
    .arrow-bottom-left,
    .arrow-top-right,
    .arrow-bottom-right {
        display: none; /* Cacher les flèches sur mobile */
    }
}



.skill-card ul,
.skill-card p {
    font-size: 1.3em;
}





/* Projects Section */
#projects {
    padding: 50px 30px;
    background-color: #070000;
    color: #FFFFFF;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.section-title h3 {
    font-size: 1.2em;
    color: #FFFFFF;
    margin-top: 5px;
}

.section-title .underline {
    width: 100px;
    height: 4px;
    background-color: #D23232;
    margin-top: 10px;
    border-radius: 5px;
}
/* Projects Section */
#projects {
    padding: 50px 30px;
    background-color: #070000;
    color: #FFFFFF;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.section-title h3 {
    font-size: 1.2em;
    color: #FFFFFF;
    margin-top: 5px;
}

.section-title .underline {
    width: 100px;
    height: 4px;
    background-color: #D23232;
    margin-top: 10px;
    border-radius: 5px;
}

/* Projects Section */
#projects {
    padding: 50px 30px;
    background-color: #070000;
    color: #FFFFFF;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.section-title h3 {
    font-size: 1.2em;
    color: #FFFFFF;
    margin-top: 5px;
}

.section-title .underline {
    width: 100px;
    height: 4px;
    background-color: #D23232;
    margin-top: 10px;
    border-radius: 5px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-item {
    background-color: #482A2A;
    border-radius: 45px;
    padding: 12px;
    flex: 1 1 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transform: scale(0.8);
}

.carousel {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel img {
    width: 100%;
    height: auto;
    display: none;
    border-radius: 45px;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    display: block;
    opacity: 1;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(210, 50, 50, 0.7);
    border: none;
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 0.3em 0.6em;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-control:hover {
    background-color: #D23232;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.carousel-indicators .dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators .dot.active {
    background-color: #D23232;
}

.project-text {
    flex: 1;
    margin-top: 20px;
    text-align: left;
}

.project-text h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #D23232;
}

.project-text p {
    font-size: 1em;
    line-height: 1.5em;
    color: #FFFFFF;
}

.download-button {
    display: block;
    text-align: center;
    margin: 15px auto 0;
    padding: 10px 20px;
    background-color: #D23232;
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
}

.download-button:hover {
    background-color: #A51E1E;
}


.project-item1 {
    background-color: #482A2A;
    border-radius: 45px;
    padding: 13px; /* Ajusté pour correspondre aux autres projets */
    flex: 1 1 300px; /* Définit une largeur similaire aux autres */
    max-width: 340px; /* Limite la largeur maximale */
    height: auto; /* Permet d'adapter la hauteur automatiquement */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center; /* Centrer le texte */
}

.carousel1 img {
    width: 100%;
    max-height: 350px; /* Limite la hauteur pour garder une taille cohérente */
    object-fit: cover; /* Maintient un bon rapport hauteur/largeur */
    border-radius: 45px;
    margin-bottom: 10px; /* Ajoute un espacement sous l'image */
}

.project-text1 {
    font-size: 0.9em; /* Taille de police adaptée aux autres projets */
    margin-top: 10px;
    line-height: 1.4em; /* Améliore la lisibilité */
    text-align: left;
}

.download-button {
    margin-top: 15px;
    padding: 10px 15px; /* Ajuste la taille du bouton */
    font-size: 0.85em; /* Uniformise avec les autres boutons */
    border-radius: 30px;
}

.project-item {
    background-color: #482A2A;
    border-radius: 45px;
    padding: 12px;
    flex: 1 1 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    transform: scale(0.8);
}

.carousel {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel img {
    width: 100%;
    height: auto;
    display: none;
    border-radius: 45px;
    transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
    display: block;
    opacity: 1;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(210, 50, 50, 0.7);
    border: none;
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 0.3em 0.6em;
    cursor: pointer;
    border-radius: 50%;
}





.carousel img {
    width: 100%;
    height: auto;
    display: none;
    border-radius: 45px;
    transition: opacity 0.5s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
    
    .project-item {
        width: 90%;
        max-width: 600px;
    }
    
    .carousel {
        flex: 1.5;
    }
    
    .project-text {
        flex: 1.5;
        text-align: center;
    }
    
    .carousel-control {
        font-size: 1.2em;
        padding: 0.2em 0.4em;
    }
    
    .carousel-indicators .dot {
        height: 10px;
        width: 10px;
    }
    
    .download-button {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}




@media (max-width: 768px) {
    /* Ajustement de la Navbar */
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    
    .name-and-language {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        margin: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    /* Section Home */
    #home {
        padding: 20px;
    }

    .profile-picture img {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .text-content h2 {
        font-size: 2.5em; /* Ajustez la taille du titre */
    }

    .text-content p {
        font-size: 1em;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Section About */
    .about-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-picture img {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .about-content h3 {
        font-size: 2em;
    }

    .about-content p {
        font-size: 1em;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Section Highlights */
    .moments-container {
        flex-direction: column;
        align-items: center;
    }

    .highlight-item {
        flex: 1 1 100%;
        max-width: none;
        margin: 20px 0;
    }

    .highlight-item img {
        max-height: 150px; /* Limitez la taille des images */
        object-fit: cover;
    }

    /* Section Skills */
    .skills-main-container {
        flex-direction: column;
        padding: 20px;
        height: auto;
    }

    .skill-card {
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }

    .skills-center-image img {
        display: none; /* Cachez l'image centrale sur mobile */
    }

    /* Section Projects */
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-item {
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
    }

    .carousel img {
        max-height: 200px; /* Limitez la taille des images */
        object-fit: cover;
    }

    /* Bouton Retour en Haut */
    .back-to-top {
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    /* Pour les petits mobiles */
    .navbar {
        padding: 10px 20px;
    }

    .navbar h1 {
        font-size: 1.2em;
    }

    nav ul li a {
        font-size: 1em;
    }

    .profile-picture img {
        max-width: 60%;
    }

    .text-content h2 {
        font-size: 2em;
    }

    .text-content p {
        font-size: 0.9em;
    }

    .about-picture img {
        max-width: 70%;
    }

    .highlight-item img {
        max-height: 130px;
    }

    .skill-card {
        width: 100%;
    }

    .project-item {
        width: 100%;
    }

    .back-to-top {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .name-and-language {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .name-and-language h1 {
        margin-right: 10px;
        font-size: 1.2em;
    }

    .language-btn {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .arrow-icon {
        display: none;
    }
}

.skill-card {
    word-wrap: break-word;
    text-align: center;
}

@media (max-width: 768px) {
    .skill-card {
        width: 100%;
        margin-bottom: 20px;
    }

    .skill-card p {
        font-size: 1em;
    }
}

/* Styles pour l'animation d'apparition en glissant vers le haut */
/* Les éléments apparaissent hors de l'écran et cachés au départ */
.appear {
    opacity: 0;
    transform: translateY(50px); /* Glissement initial vers le bas */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    will-change: opacity, transform;
}

/* Lorsque la classe 'show' est ajoutée, les éléments apparaissent */
.appear.show {
    opacity: 1;
    transform: translateY(0); /* Les éléments se replacent à leur position d'origine */
}


/* Masquer les flèches sur les petits écrans, comme les téléphones mobiles */
@media (max-width: 600px) {
    .arrow-icon {
        display: none;
    }
}

/* Cacher les flèches en dessous de 768px */
@media (max-width: 768px) {
    .arrow-icon {
        display: none;
    }
}

/* Cacher les flèches en dessous de 1024px */
@media (max-width: 1024px) {
    .arrow-icon {
        display: none;
    }
}

/* Afficher les flèches sur les grands écrans si nécessaire */
@media (max-width: 768px) {
    .arrow-icon {
        display: none !important; /* Forcer la disparition des flèches sur les petits écrans */
    }
}









